.mainSmallCardWrap {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}


.mainSmallCardWrap:hover .mainSmallTextBox {
    transform: translate(0, -120px);
}

.mainSmallTextBox {
    position: absolute;
    right: 20px;
    bottom: -100px;
    left: 20px;
    padding: 24px 0 20px;
    background-color: #fff;
    transition: all .5s;
    width: 550px;
    height: 126px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.mainSmallCircle {
    background-color: #888;
    font-size: 12px;
    border: none;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 auto;
}
